<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cronometro - (minutos e segundos)</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="cronometro">
            <div class="cronometro-header">
                <div class="cronometro-header-title">
                    <h1>Cronometro</h1>
                </div>
            </div>
            <div class="cronometro-body">
                <div class="cronometro-body-minss">
                    <p>
                        <span v-if="countM < 10">0{{countM}}</span>
                        <span v-else>{{countM}}</span>
                        :
                        <span v-if="countS < 10">0{{countS}}</span>
                        <span v-else>{{countS}}</span>
                    </p>
                    
                    
                </div>
            </div>
                <div class="cronometro-body-actions">
                    <div id="cronometro-action-iniciar">
                        <button
                        class="action-button"
                        v-on:click="start">Iniciar</button>
                    </div>
                    <div id="cronometro-action-parar">
                        <button class="action-button">Parar</button>
                    </div>
                    <div id="cronometro-action-resetar">
                        <button class="action-button">
                            Resetar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script.js"></script>
   
</body>
</html>